@model TestMigration.Repository.PageOfList<TestMigration.Domain.core.TestPage>
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/page.css")
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "TestPage", FormMethod.Get))
        {
            <table>

                <tr>
                    <th>ID</th>
                    <th>订单号</th>
                    <th>运单号</th>
                    <th>运费</th>
                </tr>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model.ToList())
                    {
                        <tr>
                          <td>@item.ID</td>
                          <td>@item.OrderNo</td>
                          <td>@item.EMS</td>
                          <td>@item.WayFee</td>
                        </tr>
                    }
                }
            </table>
            //@TestMigration.Models.ExtHelper.UlPageing(this.Html, Model);
            Html.RenderPartial("Page", Model);
        }
    </div>
</body>
</html>
